body{
margin:0;
font-family:Arial,sans-serif;
background:#f6f2e8;
color:#23432d;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
text-align:center;
}

h1{
font-size:60px;
margin-bottom:10px;
}

p{
font-size:22px;
color:#86684a;
}
